<ion-view title="Call 911">
    <ion-content>
        <h2>Emergency Contacts Were Notified</h2>
        <a href="tel:+1-911" class="button button-block button-assertive">CALL 911</a>
    </ion-content>
</ion-view>